generator client {
  provider = "prisma-client"
  output   = "../lib/generated/prisma"
}

datasource db {
  provider = "postgresql"
}

enum WidgetType {
  TYPE_A @map("type_a")
  TYPE_B @map("type_b")
}

model User {
  id             String   @id @default(cuid())
  fullName       String   @map("full_name") @db.VarChar(200)
  email          String   @unique @db.VarChar(320)
  createdWidgets Widget[] @relation("WidgetCreatedBy")
  updatedWidgets Widget[] @relation("WidgetUpdatedBy")
  createdAt      DateTime @default(now()) @map("created_at")
  updatedAt      DateTime @updatedAt @map("updated_at")

  @@index([fullName])
  @@map("users")
}

model Widget {
  id            String     @id @default(cuid())
  name          String     @db.VarChar(160)
  description   String?    @db.Text
  isActive      Boolean    @default(true) @map("is_active")
  type          WidgetType @default(TYPE_A)
  createdById   String     @map("created_by")
  createdByUser User       @relation("WidgetCreatedBy", fields: [createdById], references: [id])
  updatedById   String?    @map("updated_by")
  updatedByUser User?      @relation("WidgetUpdatedBy", fields: [updatedById], references: [id])
  createdAt     DateTime   @default(now()) @map("created_at")
  updatedAt     DateTime   @updatedAt @map("updated_at")

  @@unique([createdById, name])
  @@index([isActive])
  @@index([type])
  @@index([createdById])
  @@index([createdAt])
  @@map("widgets")
}
